// color
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey: #707070;
$color-red: #891818;

// font
// $font-default: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", "Roboto", "Helvetica Neue", Arial, sans-serif;
$font-roboto: "Roboto", sans-serif;