.header {
    background: url(../img/banner.png) no-repeat center center;
    background-size: cover;
    padding: 308px;

    &__content {
        margin: 0 auto;
        max-width: 304px;
    }

    &__text {
        color: $color-white;
        margin-bottom: 40px;
    }

    &__social-media {

        &--item {
            width: 60px;
            height: 60px;
            background-color: $color-red;
            border-radius: 15px;

            &:hover {
                transform: translateY(-3px);
            }

            &:active {
                transform: translateY(-1px);
            }
        }

        & a:not(:last-child) {
            margin-right: 16px;
        }
    }
}

.about {
    margin: 56px 0;

    &__content {
        margin: 0 auto;
        max-width: 412px;
    }

    &__title {
        margin-bottom: 40px;
    }

    &__photo {
        margin-bottom: 20px;
    }

    &__text {
        text-align: center;
    }

    &__profile {
        border-bottom: 1px solid $color-black;
        padding-bottom: 24px;
        margin-bottom: 28px;
    }

    &__experience {
        
        &--item {
            position: relative;

            &:not(:last-child) {
                margin-bottom: 28px;
            }

            // 使用 before 偽元素製作圓點
            &::before {
                content: "";
                position: absolute;
                width: 22px;
                height: 22px;
                background-color: $color-red;
                border-radius: 50%;
                transform: translateX(-165%) translateY(50%);
            }
        }
    }
}

.brand {
    background-color: $color-black;
    color: $color-white;
    padding-top: 56px;
    padding-bottom: 160px;

    &__content {
        margin: 0 auto;
        max-width: 1200px;
        text-align: center;
    }

    &__title {
        margin-bottom: 12px;
    }

    &__text {
        margin-bottom: 68px;

        li:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    &__photos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.other-works {

    &__content {
        margin: 0 auto;
        max-width: 1200px;
        text-align: center;
    }

    &__text {
        padding: 56px 0;
    }

    &__title {
        margin-bottom: 16px;
    }

}

.projects {

    img {
        margin-bottom: 16px;
    }

    &-list1 {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 48px;

        li {
            &:not(:last-child) {
                margin-right: 24px;
            }
        }
    }

    &-list2 {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 48px;

        li {
            &:not(:last-child) {
            margin-right: 24px;
            }
        }
    }

    &-list3 {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 144px;

        li {
            &:not(:last-child) {
            margin-right: 24px;
            }
        }
    }
}

.contact {
    background-color: $color-black;
    color: $color-white;

    &__content {
        margin: 0 auto;
        max-width: 315px;
        padding: 64px 0;
        text-align: center;
    }

    &__title {
        margin-bottom: 16px;
    }

    &__list {
        li {
            &:not(:last-child) {
            margin-bottom: 16px;
            }
        }
    }

    a {
        &:link,
        &:visited {
                    color: $color-white;
                }

        &:hover {
            color: $color-grey;
        }
    }

}